/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 760px;
}

/*********************
HEADER STYLES
*********************/

.header {}

	#logo {}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;

	ul {
		margin-top:0;
	}

	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}

		&:first-child {}
		&:last-child {}

		ul.sub-menu,
		ul.children {
			background-color: $link-color;
			height:0;
			opacity: 0;
			overflow: hidden;
			padding:0;
			margin:0;
			width:auto;
			min-width: 200px;
			border-top: 0;
			position: absolute;
			z-index: 8999;
			text-align:left;
			box-shadow: (5px 5px 8px black(.22));

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top:98%;
			height: auto;
			opacity:1;
			@include transition(all .5s ease);
		}

		&:last-of-type:hover ul {
			right:0;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/*********************
PAGE STYLES
*********************/
.gallery-item {
	width:49%;

	&:nth-child(2n+2) {
		margin-right:2%;
	}
	
	&:last-of-type {
		margin-right: 0;
	}

	.gallery-columns-1 & {
		width:100%;
		margin-right: 0;
	}

	.gallery-columns-2 & {
		width:49%;

		&:nth-child(2n+2) {
			margin-right: 0;
		}
	}

	.gallery-columns-3 & {
		width:32%;

		&:nth-child(3n+3) {
			margin-right: 0;
		}
	}

	.gallery-columns-4 & {
		width:23.5%;

		&:nth-child(4n+4) {
			margin-right: 0;
		}
	}

	.gallery-columns-5 & {
		width:18.4%;

		&:nth-child(5n+5) {
			margin-right: 0;
		}
	}

	.gallery-columns-6 & {
		width:15%;

		&:nth-child(6n+6) {
			margin-right: 0;
		}
	}

	.gallery-columns-7 & {
		width:12.57142857%;

		&:nth-child(7n+7) {
			margin-right: 0;
		}
	}

	.gallery-columns-8 & {
		width:10.75%;

		&:nth-child(8n+8) {
			margin-right: 0;
		}
	}

	.gallery-columns-9 & {
		width:9.33333333%;

		&:nth-child(9n+9) {
			margin-right: 0;
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

.widgettitle {
	border-bottom: 2px solid #444;
	margin-bottom: 0.75em;
}

.widget {
	padding: 0 10px;
	margin: 2.2em 0;

	ul {
		li {
			margin-bottom: 0.75em;

			&:first-child {}
			&:last-child {}
			a {}
			/* deep nesting */

			ul {
				margin-top: 0.75em;
				padding-left: 1em;
			}
		}
	}
}

/*********************
FOOTER STYLES
*********************/

.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}

			ul {}
		}
	}
} /* end .footer-links */

/*********************
GRAVITY FORMS
**********************/

.ginput_container {
	margin-bottom:.5em;
	zoom: 1;
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }

    & > span {
    	float:left;
    	margin-right:.9em;

    	&:last-of-type {
    		margin-right: 0;
    	}

    	input {
    		margin-bottom: .2em;
    	}

    	label {
    		font-size: .8em;
    	}
    }
}