/*********************
NAVIGATION STYLES
*********************/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a, a:visited {
			display: block;
			color: $white;
			border: none;
			padding: 0.75em;

			&:hover, &:focus {
				color: $white;
			}
		}

		@include breakpoint(laptop) {
			float: left;
			position: relative;

			ul.sub-menu,
			ul.children {
				background-color: $link-color;
				height:0;
				opacity: 0;
				overflow: hidden;
				padding:0;
				margin:0;
				width:auto;
				min-width: 200px;
				border-top: 0;
				position: absolute;
				z-index: 8999;
				text-align:left;
				box-shadow: (5px 5px 8px black(.22));

				li {

					a {
						padding-left: 10px;
						border-right: 0;
						display: block;
						width: 180px;
						border-bottom: 1px solid #ccc;

						&:hover,
						&:focus {}

						&:link {}
					}

					&:first-child {}

					&:last-child {

						a {
							border-bottom: 0;
						}
					}
					ul {}
				}

				/* highlight sub-menu current page */
				li.current-menu-item,
				li.current_page_item,
				li.current-page-ancestor {
					a {}
				}
			}

			/* showing sub-menus */
			&:hover ul {
				top:98%;
				height: auto;
				opacity:1;
				@include transition(all .5s ease);
			}

			&:last-of-type:hover ul {
				right:0;
			}
		}
	} /* end .menu li */


} /* end .nav */